.sliders {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 40em) {
  .sliders {
    flex-direction: row;
    gap: 4rem;
  }
}

.sort {
  display: flex;
  font-weight: bold;
  gap: 1rem;
  margin-bottom: 3rem;
}

@media (min-width: 40em) {
  .sort {
    justify-content: flex-end;
  }
}
